<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nextus.mypage.refund.RefundMapper">
	
	<!-- 신고 등록 -->
	<insert id="insert" parameterType="kr.co.nextus.mypage.refund.RefundVO">
		INSERT INTO REFUND (
			buyno, content, refund_amount, date
		) VALUES (
			#{buyno}, #{content}, #{refund_amount}, NOW()
		);
	</insert>
	
	<update id="update" parameterType="kr.co.nextus.mypage.refund.RefundVO">
		UPDATE BUYLIST SET 
			status=2
		WHERE buyno=#{buyno};
	</update>
	
	
	<!-- 리스트 -->
	<select id="list" parameterType="kr.co.nextus.mypage.refund.RefundVO"
		resultType="kr.co.nextus.mypage.refund.RefundVO">
		SELECT r.*, m.email,b.status
		FROM REFUND r
		JOIN BUYLIST b ON r.buyno = b.buyno
		JOIN MEMBER m ON b.memberno = m.no
		ORDER BY  FIELD(b.status,2,3), r.date ASC
		LIMIT #{startIdx}, 10
	</select>
	<!-- 카운트 -->
	<select id="count" parameterType="kr.co.nextus.mypage.refund.RefundVO"
		resultType="int">
		SELECT COUNT(*) FROM REFUND
	</select>
	
	<!-- 환불상태 상세보기 -->
	<select id="detail" parameterType="int"
		resultType="kr.co.nextus.mypage.refund.RefundVO">
		SELECT r.*, m.email, s.title
		FROM REFUND r
		JOIN BUYLIST b ON r.buyno = b.buyno
		JOIN MEMBER m ON b.memberno = m.no
		JOIN SELLLIST s ON b.sellno = s.sellno
		WHERE r.buyno = #{no} 
	</select>
	
	<!-- 환불하기 -->
	<update id="settle"
		parameterType="int">
		UPDATE BUYLIST SET status = '3' WHERE buyno = #{buyno} 
	</update>
	
</mapper>   