<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nextus.seller.SellerMapper">

    <insert id="insertSeller" parameterType="kr.co.nextus.seller.SellerVO">
        INSERT INTO SELLER (no, info, category1, category2, bank, account, 
        rating_avg, review_cnt)
        VALUES (#{no}, #{info}, #{category1}, #{category2}, #{bank}, 
        #{account}, #{rating_avg}, #{review_cnt})
    </insert>

	
    <select id="getSellerByNo" parameterType="int" resultType="kr.co.nextus.seller.SellerVO">
        SELECT nickname, info, category1, category2, bank, account, rating_avg seller_rating_avg, review_cnt seller_review_cnt, profile_real
        FROM SELLER s
        INNER JOIN MEMBER m
        ON m.no = s.no
        WHERE m.no = #{no}
    </select>

	<select id="getSellerSellList" parameterType="int" resultType="kr.co.nextus.selllist.SellListVO">
		SELECT title, thumbnail_real, s.rating_avg rating_avg, s.review_cnt review_cnt, COUNT(pl.sellno) like_count
		FROM SELLLIST s
		LEFT JOIN P_LIKE pl 
		ON s.sellno = pl.sellno
		INNER JOIN SELLER sr 
		ON s.seller = sr.no
		WHERE sr.no = #{no}
		GROUP BY s.title, s.rating_avg, s.review_cnt
	</select>
	
	<select id="getSellerReviews" parameterType="int" resultType="kr.co.nextus.review.ReviewVO">
		SELECT m.nickname, r.score, r.title, r.text, s.title productTitle, s.content, s.thumbnail_real
	    FROM REVIEW r
	    INNER JOIN SELLLIST s 
	    ON r.sellno = s.sellno
	    INNER JOIN MEMBER m 
	    ON m.no = r.writeno
	    WHERE s.seller = #{no}
	    ORDER BY r.writedate DESC
	</select>
	
    <update id="updateSeller" parameterType="kr.co.nextus.seller.SellerVO">
        UPDATE SELLER
        SET info = #{info}, category1 = #{category1}, category2 = #{category2}, bank = #{bank}, 
        account = #{account}, seller_rating_avg = #{seller_rating_avg}, review_cnt = #{seller_review_cnt}
        WHERE no = #{no}
    </update>
    
    <!-- 관리자 -->
	<insert id="insertSellerByAdmin" parameterType="kr.co.nextus.sellerrequest.SellerRequestVO">
        INSERT INTO SELLER (no, info, category1, category2, bank, account, 
        rating_avg, review_cnt)
        VALUES (#{no}, '안녕하세요. 만나서 반갑습니다.', null, null, #{bank}, 
        #{account}, 0, 0)
    </insert>
	
</mapper>