<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nextus.report.ReportMapper">
	
	<!-- 신고 등록 -->
	<insert id="insert" parameterType="kr.co.nextus.report.ReportVO">
		INSERT INTO REPORT (
			reviewno, sellno, memberno, content, status, date, reportedmemberno
		) VALUES (
			#{reviewno}, #{sellno}, #{memberno}, #{content}, 1, NOW(), 
			(SELECT IF(#{reviewno}=0, (SELECT seller FROM SELLLIST WHERE sellno=#{sellno}), (SELECT writeno FROM REVIEW WHERE reviewno=#{reviewno})))
		);
	</insert>
	<!-- ========== -->
	<!-- 관리자 페이지 -->
	<!-- ========== -->
	<!-- 리스트 10개씩 출력 -->
	<select id="list" parameterType="kr.co.nextus.report.ReportVO" resultType="kr.co.nextus.report.ReportVO">
	    SELECT
	        R.*,
	        M1.email AS reportermemberemail,
	        M2.email AS reportedmemberemail
	    FROM
	        REPORT R
	    LEFT JOIN
	        MEMBER AS M1 ON R.memberno = M1.no
	    LEFT JOIN
	        MEMBER AS M2 ON R.reportedmemberno = M2.no
	    ORDER BY no
	    LIMIT #{startIdx}, 10
	</select>
	<!-- 카운트 -->
	<select id="count" parameterType="kr.co.nextus.report.ReportVO" resultType="int">
		SELECT COUNT(*) FROM REPORT
	</select>
	
	<!-- 신고접수내역에서 신고 상세보기 -->
	<select id="detail" parameterType="int"
		resultType="kr.co.nextus.report.ReportVO">
		SELECT 
    		R.*, 
    		M1.email AS reportermemberemail, 
   		 	M2.email AS reportedmemberemail
		FROM 
    		REPORT R
		JOIN 
    		MEMBER M1 ON R.memberno = M1.no
		JOIN 
    		MEMBER M2 ON R.reportedmemberno = M2.no
		WHERE 
       		R.no = #{no}
	</select>
	
	<!-- 제제내역추가에서 신고내역 -->
	<select id="detailList" parameterType="String"
		resultType="kr.co.nextus.report.ReportVO">
		SELECT R.date, R.content
		FROM REPORT R
		INNER JOIN MEMBER M ON R.reportedmemberno = M.no
		WHERE M.email = #{email}

	</select>
</mapper>   