<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nextus.report.ReportMapper">
	
	<!-- 신고 등록 -->
	<insert id="insert" parameterType="kr.co.nextus.report.ReportVO">
		INSERT INTO REPORT (
			reviewno, sellno, memberno, content, status, date, reportedmemberno
		) VALUES (
			#{reviewno}, #{sellno}, #{memberno}, #{content}, 1, NOW(), 
			(SELECT IF(#{reviewno}=0, (SELECT seller FROM SELLLIST WHERE sellno=#{sellno}), (SELECT writeno FROM REVIEW WHERE reviewno=#{reviewno})))
		);
	</insert>
	<!-- ========== -->
	<!-- 관리자 페이지 -->
	<!-- ========== -->
	<!-- 리스트 10개씩 출력 -->
	<select id="list" parameterType="kr.co.nextus.report.ReportVO" resultType="kr.co.nextus.report.ReportVO">
	    SELECT
	        REPORT.*,
	        reporter.email AS reportermemberemail,
	        reported.email AS reportedmemberemail
	    FROM
	        REPORT
	    LEFT JOIN
	        MEMBER AS reporter ON REPORT.memberno = reporter.no
	    LEFT JOIN
	        MEMBER AS reported ON REPORT.reportedmemberno = reported.no
	    ORDER BY no
	    LIMIT #{startIdx}, 10
	</select>
	<!-- 카운트 -->
	<select id="count" parameterType="kr.co.nextus.report.ReportVO" resultType="int">
		SELECT COUNT(*) FROM REPORT
	</select>
</mapper>   