<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nextus.ban.BanMapper">



	<!-- ========== -->
	<!-- 관리자 페이지 -->
	<!-- ========== -->
	<insert id="add" parameterType="kr.co.nextus.ban.BanVO">
		INSERT INTO BAN (
			memberno, content,date
		) VALUES (
			#{memberno},#{content},#{date}
		)
		<selectKey keyProperty="no" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	
	<select id="memberBanList" parameterType="kr.co.nextus.ban.BanVO" resultType="kr.co.nextus.ban.BanVO">
		SELECT BAN.*, MEMBER.email
		FROM BAN
		JOIN MEMBER ON BAN.memberno = MEMBER.no
		WHERE MEMBER.seller = 0
		ORDER BY no
		LIMIT #{startIdx}, 10
	</select>
	<select id="sellerBanList" parameterType="kr.co.nextus.ban.BanVO" resultType="kr.co.nextus.ban.BanVO">
		SELECT BAN.*, MEMBER.email
		FROM BAN
		JOIN MEMBER ON BAN.memberno = MEMBER.no
		WHERE MEMBER.seller = 1
		ORDER BY no
		LIMIT #{startIdx}, 10
	</select>
	<!-- 카운트 -->
	<select id="count" parameterType="kr.co.nextus.ban.BanVO" resultType="int">
		SELECT COUNT(*) FROM BAN
	</select>
</mapper>