<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nextus.selllist.SellListMapper">
	<!-- 목록 -->
	<select id="list" parameterType="kr.co.nextus.selllist.SellListVO" resultType="kr.co.nextus.selllist.SellListVO">
		SELECT *
		FROM SELLLIST
	</select>
	<!-- 상세 -->
	<select id="detail" parameterType="int" resultType="kr.co.nextus.selllist.SellListVO">
		SELECT *,
		(SELECT optionno FROM P_OPTION WHERE sellno=#{no} and optionrank = 'bronze') as bronzeoptionno, 
		(SELECT optionno FROM P_OPTION WHERE sellno=#{no} and optionrank = 'silver') as silveroptionno,
		(SELECT optionno FROM P_OPTION WHERE sellno=#{no} and optionrank = 'gold') as goldoptionno,
		(SELECT content FROM P_OPTION WHERE sellno=#{no} and optionrank = 'bronze') as bronzecontent, 
		(SELECT content FROM P_OPTION WHERE sellno=#{no} and optionrank = 'silver') as silvercontent,
		(SELECT content FROM P_OPTION WHERE sellno=#{no} and optionrank = 'gold') as goldcontent,
		(SELECT price FROM P_OPTION WHERE sellno=#{no} and optionrank = 'bronze') as bronzeprice,
		(SELECT price FROM P_OPTION WHERE sellno=#{no} and optionrank = 'silver') as silverprice,
		(SELECT price FROM P_OPTION WHERE sellno=#{no} and optionrank = 'gold') as goldprice,
		(SELECT info FROM SELLER WHERE no=#{no}) as info,
		(SELECT rating_avg FROM SELLER WHERE no=#{no}) as rating_avg,
		(SELECT review_cnt FROM SELLER WHERE no=#{no}) as review_cnt
		FROM SELLLIST WHERE sellno=#{no}
	</select>
	
	
	<!-- ========== -->
	<!-- 관리자 페이지 -->
	<!-- ========== -->
	<sql id="searchSql">
		<where>
			<if test="searchWord != null and searchWord != ''">
				<if test="searchType == 'all'">
					sellno like sellno <!-- 전체 검색이라 그냥 이렇게 썼음 -->
				</if>
				<if test="searchType == 'seller'">
					sellno like (SELECT no FROM MEMBER WHERE name LIKE '${searchWord}')
				</if>
				
				<if test="searchType == 'title'">
					${searchType} LIKE '%${searchWord}%'
				</if>
			</if>
		</where>
	</sql>
	
	<!-- 리스트 -->
	<select id="list2" parameterType="kr.co.nextus.selllist.SellListVO" resultType="kr.co.nextus.selllist.SellListVO">
		SELECT *,(SELECT NAME FROM MEMBER WHERE no=SELLLIST.seller)as sellerName

		FROM SELLLIST
		<include refid="searchSql"/>
		ORDER BY sellno
		LIMIT #{startIdx}, 10
	</select>
	<!-- 카운트 -->
	<select id="count" parameterType="kr.co.nextus.selllist.SellListVO" resultType="int">
		SELECT COUNT(*) FROM SELLLIST
		<include refid="searchSql"/>
	</select>
</mapper>   