<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nextus.selllist.SellListMapper">
	<!-- 목록 -->
	<select id="list" parameterType="kr.co.nextus.selllist.SellListVO" resultType="kr.co.nextus.selllist.SellListVO">
		SELECT *,
		(SELECT COUNT(*) FROM BUYLIST WHERE BUYLIST.sellno=SELLLIST.sellno) as like_cnt
		FROM SELLLIST 
		JOIN SELLCATEGORY ON SELLLIST.sellno = SELLCATEGORY.sellno 
		JOIN CATEGORYLIST ON SELLCATEGORY.categoryno = CATEGORYLIST.categoryno
		<where>
        <if test="depth == 1">
            CATEGORYLIST.nested = #{nested}
        </if>
        <if test="depth == 2">
            CATEGORYLIST.categoryno = #{categoryno}
            <if test="searchWord != null">
                AND SELLLIST.title LIKE '%${searchWord}%'
            </if>
        </if>
    	</where>
		ORDER BY
        <choose>
            <when test="order != null">
                ${order} DESC
            </when>
            <when test="searchType != null">
                #{searchType} DESC
            </when>
            <otherwise>
                like_cnt DESC
            </otherwise>
        </choose>
    	LIMIT #{startIdx}, 10
		
	</select>
	
	<!-- 카테고리명 불러오기 -->
	<select id="categoryname" parameterType="int" resultType="String">
		SELECT categoryname FROM CATEGORYLIST WHERE categoryno = #{categoryno}
	</select>
	
	<!-- 상세 -->
	<select id="detail" parameterType="kr.co.nextus.selllist.SellListVO" resultType="kr.co.nextus.selllist.SellListVO">
		SELECT *,
		(SELECT optionno FROM P_OPTION WHERE sellno=#{sellno} and optionrank = 'bronze') as bronzeoptionno, 
		(SELECT optionno FROM P_OPTION WHERE sellno=#{sellno} and optionrank = 'silver') as silveroptionno,
		(SELECT optionno FROM P_OPTION WHERE sellno=#{sellno} and optionrank = 'gold') as goldoptionno,
		(SELECT content FROM P_OPTION WHERE sellno=#{sellno} and optionrank = 'bronze') as bronzecontent, 
		(SELECT content FROM P_OPTION WHERE sellno=#{sellno} and optionrank = 'silver') as silvercontent,
		(SELECT content FROM P_OPTION WHERE sellno=#{sellno} and optionrank = 'gold') as goldcontent,
		(SELECT price FROM P_OPTION WHERE sellno=#{sellno} and optionrank = 'bronze') as bronzeprice,
		(SELECT price FROM P_OPTION WHERE sellno=#{sellno} and optionrank = 'silver') as silverprice,
		(SELECT price FROM P_OPTION WHERE sellno=#{sellno} and optionrank = 'gold') as goldprice,
		(SELECT info FROM SELLER WHERE no=(SELECT seller FROM SELLLIST WHERE sellno=#{sellno})) as info,
		(SELECT rating_avg FROM SELLER WHERE no=(SELECT seller FROM SELLLIST WHERE sellno=#{sellno})) as sellerrating_avg,
		(SELECT review_cnt FROM SELLER WHERE no=(SELECT seller FROM SELLLIST WHERE sellno=#{sellno})) as sellerreview_cnt,
		(SELECT (SELECT COUNT(*) FROM BUYLIST WHERE sellno=#{sellno} and memberno=#{loginno} and isreview=0) FROM BUYLIST WHERE sellno=#{sellno} and memberno=#{loginno} LIMIT 1) as isreview
		FROM SELLLIST WHERE sellno=#{sellno}
	</select>
	
	<!-- 판매글 쓰기 , price, thumbnail_real은 나중에 -->
	<insert id="insertSellList" parameterType="kr.co.nextus.selllist.SellListVO">
		INSERT INTO SELLLIST (seller, title, content, postdate, view_cnt, rating_avg, review_cnt)
		VALUES (#{seller}, #{title}, #{content}, NOW(), 0, 0, 0)
	</insert>
	
	<!-- 
	<insert id="insertSellListOption" parameterType="kr.co.nextus.selllist.SellListVO" >
		INSERT INTO P_OPTION (sellno, optionrank, content, price)
		VALUES(#{no}, #{optionrank}, #{content}, #{price})
	</insert>
	
	<insert id="insertSellLIstCategory" parameterType="kr.co.nextus.category.CategoryVO">
		INSERT INTO SELLCATEGORY (sellno, categoryno)
		VALUES(#{sellno}, #{categoryno})
	</insert>
     -->
	
	<!-- ========== -->
	<!-- 관리자 페이지 -->
	<!-- ========== -->
	<sql id="searchSql">
		<where>
			<if test="searchWord != null and searchWord != ''">
				<if test="searchType == 'all'">
					sellno like sellno <!-- 전체 검색이라 그냥 이렇게 썼음 -->
				</if>
				<if test="searchType == 'seller'">
					sellno like (SELECT no FROM MEMBER WHERE name LIKE '${searchWord}')
				</if>
				
				<if test="searchType == 'title'">
					${searchType} LIKE '%${searchWord}%'
				</if>
			</if>
		</where>
	</sql>
	
	<!-- 리스트 -->
	<select id="list2" parameterType="kr.co.nextus.selllist.SellListVO" resultType="kr.co.nextus.selllist.SellListVO">
		SELECT *,(SELECT NAME FROM MEMBER WHERE no=SELLLIST.seller)as sellerName

		FROM SELLLIST
		<include refid="searchSql"/>
		ORDER BY sellno DESC
		LIMIT #{startIdx}, 10
	</select>
	<!-- 카운트 -->
	<select id="count" parameterType="kr.co.nextus.selllist.SellListVO" resultType="int">
		SELECT COUNT(*) FROM SELLLIST
		<include refid="searchSql"/>
	</select>
	
	<!-- 삭제 -->
    <delete id="delete" parameterType="int">
        DELETE FROM SELLLIST WHERE sellno = #{sellno}
    </delete>
</mapper>   