@charset "UTF-8";
body {
	margin: 0;
}
#outer_container {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
#inner_container {
	display:flex; 
	flex-direction:column;
	align-items: center;
	background-color: rgb(232, 191, 255);
    width: 80%;
    height: 600px;
    border-radius: 4px;
}
#messageContainer {
	display:flex;
	flex-direction:column;
    background-color: white;
	width: 95%;
	height: 500px;
	overflow-y:auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	flex-shrink: 0;
}
form {
   background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
    clear: both;
    width: 95%;
    box-sizing: border-box;
}
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="button"] {
    width: 48%;
	background-color: #B19CD9;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
input[type="button"]:hover {
    background-color: #9f85c2;
}
textarea {
    resize: horizontal;
}
.message-box {
    display: inline-block;
    padding: 10px;
    margin-bottom : 10px;
    background-color: #f0f0f0;
    font-size: 16px;
    max-width: 100%;
    word-wrap: break-word;
    border-radius: 10px;
}
.message-box.me {
    background-color: #DCF8C6;
    align-self: flex-end;
    text-align: right;
    margin-right: 10px;
}
.message-box.other {
    background-color: rgb(159, 152, 255);
    align-self: flex-start;
    text-align: left;
    margin-left: 10px;
}
.profile_container {
	display: flex;
	align-items: center;
	margin-left: 10px;
}
.profile-img {
	width: 40px;
    height: 40px;
    border-radius: 50%;
}
.profile_container > p {
	margin-left: 10px;
}

/* Custom Scrollbar Styles */
#messageContainer::-webkit-scrollbar {
    width: 8px;
}

#messageContainer::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

#messageContainer::-webkit-scrollbar-thumb {
    background: #AAA; 
    border-radius: 10px;
}

#messageContainer::-webkit-scrollbar-thumb:hover {
    background: #888; 
}