@charset "UTF-8";
#footer_container * {
    box-sizing: content-box !important;
    line-height: normal !important;
}
#footer_container {
	box-sizing: content-box !important;
    display: flex;
	background-color: black;
    height: 350px;
}
#footer_left_container {
    width: 20%;
    min-width: 400px;
}
#footer_logo_container {
	display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}
#footer_logo_container > h2 {
    width: 100px;
    padding-top: 60px;
    padding-right: 0px;
    margin-right: 0px;
}
#footer_logo_icon {
	display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    width: 120px;
    height: 100px;
    padding: 20px;
    padding-top: 60px;
}
#sns_container {
	display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
}

#footer_center_container {
    position: relative;
    width: 40%;
}
#company_info {
    position: absolute;
	bottom: 100px;
}
#company_info > p {
    color: #FFF;
    font-size: 14px !important; 
    margin: 14px 0 !important;
}

#footer_right_container {
    position: relative;
    width: 40%;
}
#footer_table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 60px;
}
#footer_table > a {
    font-size: 18px;
    text-decoration-line: none;
    text-align: center;
    padding: 20px;
    color: #FFF;
    line-height: 1.3;
}
.sns_icon {
    filter: invert(43%);
    padding: 14px !important;
}
.footer_h2 {
    width: 100%;
    color: #FFF;
    text-align: center;
    font-size: 24px !important;
    font-weight: bold !important;
    line-height: 1.2;
    margin-bottom: .75rem;
    margin-top: 0;
}