@charset "UTF-8";
#header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
	background-color: black;
    height: 150px;
}
#header_left_container {
    display: flex;
    align-items: center;
    width: 20%;
    min-width: 50px;
}
#header_menu_container {
	display: flex;
	align-items: center;
}
#header_event {
	color: #FFF;
	text-decoration-line: none;
}
#header_logo_container {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    padding-top: 30px;
}
#header_logo_icon {
	width: 120px;
    height: 100px;
}

#header_right_container {
    position: relative;
    width: 35%;
    padding-top: 30px;
    text-align: center;
    justify-content: center;
    display: flex;
    right: 10px;
}
#go_login {
	position: absolute;
	right: 30px;
	top: 0px;
}

#header_menu_button {
    box-sizing: content-box !important;
	filter: invert(1);
	width: 50px;
    height: 50px;
	padding: 20px;
}

#header_userinfo_menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100px;
}

#header_regist_seller {
    font-size: 18px;
    color: #FFF;
    border: 0px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgb(70, 0, 70), rgb(204, 0, 255));
}

#header_chat {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header_chat_img {
    display: inline-block;
    width: 40px;
}

#header_chat_text {
    display: inline-block;
    font-size: 18px;
    width: 60px;
    text-decoration-line: none;
}

#login_status {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header_profile {
	width: 40px;
    height: 40px;
    border-radius: 50%; /* 프로필을 동그랗게 만듭니다 */
    overflow: hidden; /* 내용이 둥근 테두리를 벗어나지 않게 합니다 */
}

.text_color_white {
    color: #FFF;
}

.header_right_object {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 140px;
    color: #FFF;
}





.category-container {
    position: relative;
}

.category-button {
    padding: 10px;
    cursor: pointer;
    border: none;
    background: none;
}

.button-image {
    width: 40px;  
    height: 40px; 
}

.category-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.category-section {
    padding: 10px;
    margin-bottom: 10px;  
}

.category-section h3 {
    
    font-size: 23px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}

.category-item {
    display: block;
    width: 100%;
    padding: 8px 10px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}

.category-item:hover {
    background: #f0f0f0;
}