@charset "UTF-8";
#header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
	background-color: black;
    height: 150px;
}
#header_left_container {
    display: flex;
    align-items: center;
    width: 20%;
    min-width: 50px;
}
#header_menu_container {
	display: flex;
	align-items: center;
}
#header_event {
	color: #FFF;
	text-decoration-line: none;
}
#header_logo_container {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    padding-top: 30px;
}
#header_logo_icon {
	width: 120px;
    height: 100px;
}

#header_right_container {
    position: relative;
    width: 35%;
}

#header_menu_button {
	filter: invert(1);
	width: 50px;
    height: 50px;
	padding: 20px;
}

#header_right_container {
    padding-top: 30px;
    text-align: center;
    justify-content: center;
}

#header_userinfo_menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100px;
}

#header_regist_seller {
    font-size: 18px;
    color: #FFF;
    border: 0px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgb(70, 0, 70), rgb(204, 0, 255));
}

#header_chat {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header_chat_img {
    display: inline-block;
    width: 40px;
}

#header_chat_text {
    display: inline-block;
    font-size: 18px;
    width: 60px;
    text-decoration-line: none;
}

#login_status {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_color_white {
    color: #FFF;
}

.header_right_object {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    color: #FFF;
}