@charset "UTF-8";
#p_container {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(245, 245, 245);
}

#payment_container {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 20px;
}

#payment_left_container {
    position: relative;
    width: 70%;
}

#product_title {
    color: #000;
}

#info_detail {
    width: 100%;
}

.info_size {
    width: 80%;
}

#coupon_confirm_button {
    background-color: #fff;
    border: 1px solid;
    border-radius: 20px;
    width: 60px;
    height: 20px;
}

#payment_right_container {
    position: relative;
    width: 30%;
}

#cost_info_container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 50px;
    text-align: center;
}

#cost_detail p {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.price {
    margin-left: auto;
}

.payment_border {
    border: 1px solid black;
    border-radius: 30px;
    margin: 50px 30px 50px 30px;
    padding: 20px 20px 40px 20px;
    background-color: #fff;
}

#payment_button {
    background-color: white;
    width: 80%;
    height: 50px;
}