@charset "UTF-8";
#payment_container {
    border: 1px solid black;
    width: 500px;
    padding: 20px;
}
#left {
    display: grid;
    grid-auto-flow: column;
}
.paymentSelections {
    display: flex;
    border: 1px solid;
    border-radius: 20px;
    margin: 14px;
    width: 200px;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
#toss {
    background-color:dodgerblue;
}
#kakao {
    background-color: gold;
}
a {
    font-size: 30px;
    color:azure;
}