@charset "UTF-8";

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	height: 100vh;
}

.container {
	background-color: #fff;
	padding: 40px;
	border-radius: 8px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.button {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	color: #fff;
	background-color: #800080;
	text-decoration: none;
	border-radius: 5px;
}

.button:hover {
	background-color: #0056b3;
}

.container img {
	width: 200px;
	height: auto; /* 비율을 유지하면서 높이를 자동으로 조절 */
}