<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nextus.mypage.pinfo.PinfoMapper">

	<!-- 현재 개인정보 불러오기 -->
	<select id="list" parameterType="kr.co.nextus.member.MemberVO" resultType="kr.co.nextus.member.MemberVO">
		SELECT * FROM MEMBER WHERE no=#{no}
	</select>

	<!-- 입력한 비밀번호가 기존 비밀번호와 일치하는지 확인하기 -->
	<select id="check" parameterType="kr.co.nextus.member.MemberVO" resultType="int">
		SELECT COUNT(*) FROM MEMBER WHERE no=#{no} AND pwd = MD5(#{pwd})
	</select>
	
	<!-- 개인정보 업데이트 -->
	<update id="update" parameterType="kr.co.nextus.member.MemberVO">
		UPDATE MEMBER SET
		name = #{name},
		nickname = #{nickname},
		email = #{email},
		<if test="newpwd != ''">
		pwd = MD5(#{newpwd}),
		</if>
		gender = #{gender},
		birthday = #{birthday},
		hp = #{hp},
		pwd = MD5(#{pwd}),
		zipcode = #{zipcode},
		addr1 = #{addr1},
		addr2 = #{addr2}
		<if test="profile_org != null">
		, profile_org=#{profile_org}
		, profile_real=#{profile_real}
		</if> 
		WHERE no = #{no}
	</update>
	
	<!-- 파일 삭제 -->
	<update id="fileDelete" parameterType="int">
		UPDATE MEMBER SET profile_org=null, profile_real=null WHERE no=#{no}
	</update>
	
	<!-- 개인정보 업데이트 -->
<!-- 	<update id="sellerRegist" parameterType="kr.co.nextus.member.MemberVO">
		UPDATE MEMBER SET
		seller=1
		WHERE no = #{no}
	</update> -->
</mapper>