table {
	width: 100%;
	border-collapse: collapse;
	font-size: 18px;
}

tbody tr:hover {
	background-color: #f1f1f1; /* 배경색 변경 */
}

.checkbox {
	transform: scale(1.5);
}

.center-align {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.ban_lower {
	position: fixed;
	bottom: 0;
	width: 90%;
	padding: 20px;
	z-index: 1000;
}

.lower_div {
	width: 50%; /* Each inner div takes 50% width */
	/* Include padding and border in width calculation */
	padding: 5px; /* Optional: Add padding */
	margin-left: 15px;
}
