@charset "UTF-8";

.header2 {
	margin-top: 20px;
}

.c1, .c2 {
	width: 400px;
	height: 70px;
	font-size: 30px;
	border-radius: 10px 10px 0px 0px;
	display: flex;
	align-items: center; /* 세로 중앙 정렬 */
	justify-content: center; /* 가로 중앙 정렬 */
	font-weight: bold;
}

.c1 {
	background-color: white;
}

.c2 {
	margin-left: 500px;
	background-color: #bbbbbb;
}

.c1:hover, .c2:hover {
	background-color: #d6e1e9;
	transition: 0.5s;
}

.look_button {
	width: 100px;
	height: 40px;
	font-size: 15px;
	border-radius: 5px 5px 5px 5px;
	border-color: black;
	border-style: groove;
	font-weight: bold;
	color: white;
	background-color: #5966e8;
}

.look_button:hover {
	background-color: #003be8;
	transition: 0.5s;
}

tbody td {
	text-align: center;
}

/* 페이징처리 */
.pagenate {position: fixed;width:100%; clear:both;top:730px;left:85px;}
.pagenate {text-align:center; margin:5px auto 0;}
.pagenate li {display:inline-block;width:30px;}
.pagenate li :hover{background:#d6e1e9; font-weight:bold;}