@charset "UTF-8";

.product_div {
	width: 1300px;
	height: 700px;
	margin-top: 19px;
}

.product_list {
	font-size: 30px;
	border-collapse: collapse;
}

thead {
	background-color: #d6e1e9;
	border-bottom: 2px solid black;
}
tbody td {
      text-align: center;
    }

form{
	margin-left:150px;
}
input[type=text]{
	width:400px;
	height:45px;
	font-size:20px;
	box-sizing: border-box;
}
input[type="text"]:disabled {
            background-color: #f0f0f0;
            color: #999;
            border: 1px solid #ccc;
            box-shadow: none;
}

select{
	font-size:20px;
	width:150px;
	height:45px;
	margin-left:130px;
}
input[type=submit]{
	width:130px;
	height:49px;
	font-size:20px;
	border-radius: 15px 15px 15px 15px;
	border-color: black;
	border-style: groove;
	font-weight: bold;
}
input[type=submit]:hover{
	background-color: #d6e1e9;
    transition: 0.5s;

}

.rev_button{
	width:100px;
	height:40px;
	font-size:15px;
	border-radius: 5px 5px 5px 5px;
	border-color: black;
	border-style: groove;
	font-weight: bold;
	color:white;
	background-color: #5966e8;
}
.rev_button:hover{
	background-color: #003be8;
    transition: 0.5s;

}

.del_button{
	width:100px;
	height:40px;
	font-size:15px;
	border-radius: 5px 5px 5px 5px;
	border-color: black;
	border-style: groove;
	font-weight: bold;
	color:white;
	background-color: #ff0000;
}
.del_button:hover{
	background-color: #b50000;
    transition: 0.5s;

}
