@charset "EUC-KR";

.seller_div{
	width: 1300px;
	height: 700px;
	margin-top: 19px;
}

.settlement_table{
	border-collapse: collapse;
	font-size: 20px;
	
}
thead {
	font-size:25px;
	background-color: #d6e1e9;
	border-bottom: 2px solid black;
}