@charset "EUC-KR";

.seller_div{
	width: 1300px;
	height: 700px;
	margin-top: 19px;
}

.NUM_1{
	font-size:80px;
	text-decoration-line: underline;
	color:red;
	
	margin-top: -80px;
	margin-left: 600px;
	
}
.NUM_2{
	font-size:18px;
	color:black;
	
	margin-top: -90px;
	margin-left: 605px;
	
}

input[type=text]{
	width:400px;
	height:40px;
}

input[type=date]{
	width:150px;
	height:40px;
}
select{
	width:150px;
	height:45px;
	margin-left:130px;
}
input[type=submit]{
	width:100px;
	height:49px;
}



.sellerRegist_table{
	border-collapse: collapse;
	font-size: 20px;
	
}
thead{
	border-bottom: 1px solid black;
}
