<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nextus.coupon.CouponMapper">



	<!-- ========== -->
	<!-- 관리자 페이지 -->
	<!-- ========== -->
	<insert id="createCoupon"
		parameterType="kr.co.nextus.coupon.CouponVO">
		INSERT INTO COUPON (
		memberno, discount, status, name, type
		) VALUES (
		(SELECT no FROM MEMBER WHERE email = #{memberEmail} LIMIT 1),
		#{discount}, 1, #{name}, #{type}
		)<!-- limi1은 이메일이 중복되서 넣은거임 -->
		<selectKey order="AFTER" keyProperty="no" resultType="int">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
	</insert>


	<!-- 리스트 -->
	<select id="list" parameterType="kr.co.nextus.coupon.CouponVO"
		resultType="kr.co.nextus.coupon.CouponVO">
		SELECT * FROM COUPON
		GROUP BY name
		ORDER BY no
		LIMIT
		#{startIdx}, 10
	</select>
	<!-- 카운트 -->
	<select id="count" parameterType="kr.co.nextus.coupon.CouponVO"
		resultType="int">
		SELECT COUNT(DISTINCT name) FROM COUPON
	</select>


	<!-- 쿠폰별 나눠준 멤버 리스트 -->
	<select id="listAsName"
		parameterType="kr.co.nextus.coupon.CouponVO"
		resultType="kr.co.nextus.coupon.CouponVO">
		SELECT M.email AS memberEmail, C.status
		FROM COUPON C
		JOIN MEMBER M ON C.memberno = M.no
		WHERE C.name = #{name}
	</select>

	<!-- 멤버에게 보여줄 쿠폰 리스트 -->
	<select id="listToMember" parameterType="int"
		resultType="kr.co.nextus.coupon.CouponVO">
		SELECT *
		FROM COUPON
		WHERE memberno = #{no} AND status = 1
	</select>
	
	<!-- 쿠폰 사용 -->
	<update id="useCoupon" parameterType="int">
	    UPDATE COUPON
	    SET status = 0
	    WHERE no = #{couponno}
	</update>

</mapper>