<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.nextus.buylist.BuyListMapper">

	<insert id="insert" parameterType="java.util.List">
	    INSERT INTO BUYLIST (memberno, optionno, price, status, buydate, decidedate, sellerno, sellno, name, hp, email, addr1, addr2, isreview, couponno, discount)
	    VALUES 
	    <foreach collection="list" item="item" separator=",">
	        (#{item.memberno}, #{item.optionno}, #{item.price}, 1, NOW(), null, #{item.sellerno}, #{item.sellno}, #{item.name}, #{item.hp}, #{item.email}, #{item.addr1}, #{item.addr2}, 0, #{item.couponNo}, #{item.discount})
	    </foreach>
	</insert>


	<!-- ========== -->
	<!-- 관리자 페이지 -->
	<!-- ========== -->


	<!-- 리스트 -->
	<select id="list" parameterType="kr.co.nextus.buylist.BuyListVO"
    resultType="kr.co.nextus.buylist.BuyListVO">
    	SELECT B.*, M.email AS sellerEmail, S.account AS account
   		FROM BUYLIST B
    	JOIN MEMBER M ON B.sellerno = M.no
    	JOIN SELLER S ON M.no = S.no
    	WHERE B.status IN (5, 6)
    	ORDER BY B.status ASC, B.decideDate DESC, B.buyno
    	LIMIT #{startIdx}, 10
</select>
	<!-- 카운트 -->
	<select id="count"
		parameterType="kr.co.nextus.buylist.BuyListVO" resultType="int">
		SELECT COUNT(*) FROM BUYLIST
	</select>
	
	<!-- 정산 필요&완료 카운트 5,6 -->
	<select id="countallsettle"
		parameterType="kr.co.nextus.buylist.BuyListVO" resultType="int">
		SELECT COUNT(*) FROM BUYLIST WHERE status = 5 OR status = 6
	</select>
	
	<!-- 정산하기 -->
	<update id="settle"
		parameterType="int">
		UPDATE BUYLIST SET status = '6' WHERE buyno = #{buyno} 
	</update>
	
	<!-- 정산필요 건수 -->
	<select id="Countsettle" parameterType="kr.co.nextus.buylist.BuyListVO"
		resultType="int">
		SELECT COUNT(*) FROM BUYLIST
		WHERE status = 5;
	</select>
	
	<!-- 환불필요 건수 -->
	<select id="Countrefund" parameterType="kr.co.nextus.buylist.BuyListVO"
		resultType="int">
		SELECT COUNT(*) FROM BUYLIST
		WHERE status = 2;
	</select>
	
	
	<!-- 최근 7일 구매 -->
	<select id="seven_days_sales" parameterType="kr.co.nextus.buylist.BuyListVO"  resultType="kr.co.nextus.buylist.BuyListVO">
    <![CDATA[
    SELECT dates.date,
           IFNULL(SUM(price), 0) AS totalprice
    FROM (
        SELECT CURDATE() AS date
        UNION ALL SELECT DATE_SUB(CURDATE(), INTERVAL 1 DAY)
        UNION ALL SELECT DATE_SUB(CURDATE(), INTERVAL 2 DAY)
        UNION ALL SELECT DATE_SUB(CURDATE(), INTERVAL 3 DAY)
        UNION ALL SELECT DATE_SUB(CURDATE(), INTERVAL 4 DAY)
        UNION ALL SELECT DATE_SUB(CURDATE(), INTERVAL 5 DAY)
        UNION ALL SELECT DATE_SUB(CURDATE(), INTERVAL 6 DAY)
    ) AS dates
    LEFT JOIN BUYLIST ON DATE(BUYLIST.decidedate) = dates.date
                     AND BUYLIST.status = 6
    WHERE dates.date >= CURDATE() - INTERVAL 7 DAY
    GROUP BY dates.date
    ORDER BY dates.date ASC
    ]]>
</select>

	<!-- adminMain -->
	<select id="total_sales" parameterType="kr.co.nextus.buylist.BuyListVO" resultType="int" >
	SELECT IFNULL(SUM(price),0) as total_salses FROM BUYLIST WHERE status = 6
	</select>
	<!-- adminMain -->
	<select id="today_sales" parameterType="kr.co.nextus.buylist.BuyListVO" resultType="int" >
	SELECT IFNULL(SUM(price),0) AS today_sales FROM BUYLIST WHERE status = 6 AND DATE(decidedate) = CURDATE()
	</select>
	<!-- adminMain -->
	<select id="MVP" parameterType="kr.co.nextus.buylist.BuyListVO"
		resultType="kr.co.nextus.buylist.BuyListVO">
		SELECT m.nickname AS MVP_nickname, SUM(b.price) AS MVP_total
		FROM BUYLIST b
		JOIN MEMBER m ON b.sellerno = m.no
		WHERE b.status = 6
		GROUP BY m.nickname
		ORDER BY MVP_total DESC
		LIMIT 1
	</select>
	
	
</mapper>